<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../../setups/head") %>
</head>

<body>
  <%- include("../../components/navbar") %>

  <section id="home-content" class="container">
    <div class="mt-5">
      <div class="align-items-center d-flex justify-content-between">
        <h3>Add Shoe Data</h3>

        <a href="/shoe/" class="btn btn-outline-danger">Cancel</a>
      </div>

      <form class="mt-4" action="/shoe" method="post" enctype="multipart/form-data">
        <div class="mb-3 row justify-content-start">
          <div class="col-12 col-sm-6">
            <label for="name" class="form-label">Name</label>

            <input type="text" name="name" class="form-control" id="name" placeholder="Ex. Nike N Air" required />
          </div>

          <div class="col-12 col-sm-6">
            <label for="brand" class="form-label">Brand</label>

            <input type="text" name="merk" class="form-control" id="brand" placeholder="Ex. Nike" required />
          </div>
        </div>

        <div class="mb-3 row justify-content-start">
          <div class="col-12 col-sm-6">
            <label for="quantity" class="form-label">Quantity</label>

            <input type="text" name="qty" class="form-control" id="quantity" placeholder="Ex. 32" required />
          </div>

          <div class="col-12 col-sm-6">
            <label for="available" class="form-label">Status</label>

            <select class="form-select" name="available" aria-label="Default select example" required>
              <option selected value="true">Available</option>
              <option value="false">Non-Available</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row justify-content-start align-items-end">
          <div class="col-12 col-sm-6">
            <label for="price" class="form-label">Price</label>
        
            <input name="price" type="number" class="form-control" id="price" placeholder="Ex. 10000"
              required />
          </div>
        
          <div class="col-12 col-sm-6">
            <img id="uploadPreview" class="my-3" style="width: 100px; height: 100px;" />
        
            <label for="img" class="form-label d-block">Image File</label>
            <input name="img" type="file" class="form-control" id="img" />
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Category</label>
          <select name="category" class="form-select" aria-label="Default select example" required>
          <% categories.forEach((category)=> { %>
            <option value="<%= category.id %>">
              <%= category.name %>
            </option>
          <% }) %>
          </select>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label"> Description </label>

          <textarea class="form-control" name="desc" id="description" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-outline-primary mt-4">
          Add
        </button>
      </form>
    </div>
  </section>

  <script src="/script/preview-image-script.js"></script>

  <%- include("../../setups/script") %>
</body>

</html>